@media (width: 1024px)
{
    .cabezasInfo
    {
        font-size: 14pt;
    }
    .botonesCM
    {
        font-size: 11pt;
    }
    .datosInfo
    {
        font-size: 14pt;
    }
}

@media (min-width: 1024px)
{
    .inputfield
    {
        width: 66%;
        text-align: center;
        margin: 0px auto;
        margin-top: 52px;
    }
	.infoCalendar
	{
		width: 22%;
	}
	.segDivEventos{
		width: 46%;
	}
	
	.extraMarginTabListadoPart{
		margin-top:55px;
	}
	.agregarPartinListado{
		width: 24% !important;
	}
	
}

@media (width: 360px)
{
    .botonesCM
    {
        font-size: 5pt;
        max-width: 97%;
        height: 42px !important;
    }
}